.hero {
  overflow-x: hidden; /* Prevents horizontal overflow */
  height: 350px;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
