.aboutBody {
  background-image: url("../../assets/images/texture.svg");
  
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  align-items: start;
  margin: 2%;
  width: 100%;
  
}

.about-text {
  display: flex;
  flex-direction: column;
  margin: 0% 8vw;
  width: 35vw;
}

.about-image {
  
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 5vw;
}


.about-container {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.profile-img {
  width: 50vw;
  max-width: 500px;
  height: auto;
  margin: 0 ;
}

h2 {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.values-section,
.cta-section {
  height: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  margin: auto;
  border-radius: 10px;
}

.cta-section p {
  margin: 20px;
  text-align: center;
}

.values-section h3,
.cta-section h3 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-carousel {
  margin: 20px 10%; 
}

@media (max-width: 768px) {
  .about-grid-container {
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0%;
  }

  .about-text {
    text-align: center;
    margin: 5%;
    width: auto;
  }

  .about-image {
    margin: auto;
    width: auto;
  }
.profile-img {
  width: 90vw;
  max-width: 400px;
  height: auto;
  
}

  .values-section {
    align-items: center;
    text-align: center;
    width: 100%;
}
  .grid {
    grid-template-columns: 1fr;
  }

  .cta-section {
    align-items: center;  
    text-align: center;
    width: 100%;
    padding: 0%;

  }

  .icon {
    align-items: center;
    text-align: center;

  }

  .image-carousel {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 0px ;
  }
  
}