.imgCarous {
margin-top: 100px;
margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .imgCarous {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .imgCarous {
        margin-top: 90px;
        margin-bottom: 20px;
    }
}