.carousel-container {
  width: 100%;
  margin: auto;
}

.carousel-image {
  padding: 10px;
}

.carousel-image img {
  width: 100%;
  height: auto;
  display: block;
}
.slick-arrow {
  display: none;
}

.slick-prev {
  display: none;
}

.slick-next {
  display: none;
}