.contact-container {
    max-width: 900px;
    margin: 5% auto;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
}

.contact-form button {
    width: fit-content;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }
}
