.parents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; 
}

.div1s {
  color: #01356b;
  height: 82%;
  width: 120vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5%;
  border-radius: 30px;
  box-shadow: #161615 0px 0px 5px;
}
.leading-relaxed {
  color: black;
}
.div1s h1 {
  margin: 0 0 10% 0;
}

.div1s p {
  margin-left: 15%;
  margin-right: 15%;
}

.div2s {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #00b0dd;
  height: 90%;
  margin: 0 0%;
  border-radius: 10px;
  box-shadow: #1b220d 0px 0px 5px;
}

.img1s {
  width: 100%;
  height: 95vh;
  object-fit: cover;
  max-width: 400px;
  transform: scale(1.25);
  transition: transform 0.6s ease-in-out;
  margin: 0;
  padding-bottom: 18%;
}

.img1s:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .parents {
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 5vw;
    
  }

  .div1s,
  .div2s {
    width: 100%;
    text-align: center;
    height: auto;
    margin: 2% 0 2% 0;
    border-radius: 0;
    box-shadow: none;
  }
  .div1s p {
    margin: 3%;
    height: 350px;
    box-shadow: none;
    border-radius: 0;
  }

  .img1s {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
