@import 'aos/dist/aos.css';
.sticky {

  position: relative;
  top: 0;
  z-index: -1;
}
.parallax {
  background-image: url('../../assets/images/FJPL0567.jpg');
  min-height: 850px;
  position: sticky;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale (0.5) translateZ(0);
  transition: opacity 0.42s ease-in-out; 
  will-change: transform, opacity
}

.content {
  background-color: white;
  padding: 20px;
  
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.div1, .div2 {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.InDiv1 {
  text-align: center;
  justify-items: center;
}

.instagram-embed {
  margin-top: 20px;
}

.div2 img {
  width: 80%;
  height: auto;
}

.div3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.subDiv3 {
  flex: 1;
  margin: 10px;
}


.subDiv3 {
  align-items: center;
  justify-items: center;
}

.pieFoto {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #666;
}

.formulario {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

/* Estilos para tablet */
@media (max-width: 1024px) {
  .parent {
    flex-direction: column;
    align-items: center;
  }

  .div1, .div2 {
    width: 90%;
    margin: 10px 0;
  }

  .InDiv1 {
    font-size: 1.5rem;
  }

  .div2 img {
    width: 100%;
    height: auto;
  }

  .div3 {
    margin: 20px 0;
  }

  .formulario {
    width: 100%;
    max-width: 90%;
  }
}

/* Estilos para móvil */
@media (max-width: 768px) {
  .parallax {
    min-height: 600px;
    width: 100vw;
    background-position: center;
    background-size: cover;
    transform: scale(1);
  }
  .parent {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .div1 {
    width: 100%;
    margin: 10px 0;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .InDiv1 {
    font-size: 1.25rem;
  }

  .div2 {
    width: 100%;
    margin: 10px 0;
  }

  .div2 img {
    width: 100%;
    height: auto;
  }

  .div3 {
    flex-direction: column;
    margin: 20px 0;
  }

  .formulario {
    width: 100%;
    max-width: 100%;
  }
}