.navbar {
  background-color: #fff;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bm-burger-button {
  display: none;
}
li {
  list-style: none;
  display: inline-block;
  margin: 15px;
  border-radius: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  padding: 0 24px;
}

.navbar-logo {
  color: #000;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 345px;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-links:hover {
  color: #00a3e0;
}


@media (max-width: 1024px) {
  .navbar-container {
    padding: 0 16px;
  }

  .logo-img {
    height: 245px;
  }

  .nav-links {
    padding: 0 0.8rem;
  }
}


@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .bm-burger-button {
    display: flex;
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 76px;
  }

  .bm-burger-bars {
    background: #373a47;
  }

  .bm-burger-bars-hover {
    background:black;
  }

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross {
    background: #000000;
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    
  }

  .bm-menu {
    background: #f5f5f5;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-morph-shape {
    fill: #A3D043;
  }

  .bm-item-list {
    color: #0060A2;
    padding: 0.8em;
  }
  .bm-item-list :hover {
    color: #A3D043;
  }

  .bm-item {
    display: inline-block;
  }

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}